name: ips
services:
  client:
    build:
      context: ./services/client
      dockerfile: Dockerfile
    ports:
      - 8000:80
    env_file:
      - .env
    depends_on:
      - converter

  converter:
    build:
      context: ./services/converter
      dockerfile: Dockerfile
    ports:
      - 8001:8000
    env_file:
      - .env

  redis:
    image: redis